[submodule "operating-system-linux"]
	path = operating-system-linux
	url = ../operating-system-linux
[submodule "operating-system-posix"]
	path = operating-system-posix
	url = ../operating-system-posix
